REACT_APP_FIREBASE_KEY = XXXXXXXXXXXXXXXX
REACT_APP_FIREBASE_DOMAINE = XXXXXXXXXXXXXXXX
REACT_APP_FIREBASE_DATABASE = XXXXXXXXXXXXXXXX
REACT_APP_FIREBASE_PROJECT_ID = XXXXXXXXXXXXXXXX
REACT_APP_FIREBASE_STORAGE_BUCKET = XXXXXXXXXXXXXXXX
REACT_APP_FIREBASE_SENDER_ID = XXXXXXXXXXXXXXXX
REACT_APP_FIREBASE_APP_ID = XXXXXXXXXXXXXXXX
REACT_APP_FIREBASE_MEASUREMENT_ID = XXXXXXXXXXXXXXXX
